.container {
	float: left;
	display: inline;
}


#all {
	background-color: darkgray;
	border-radius: 5px;
}

#capacity-building {
    background-color: #BBDC0A;
    border-radius: 5px;
}
#capacity-building.active, #capacity-building.active > a {
    background-color: #BBDC0A !important;
}

#capacity-building a{
    color: black;
}


#housing {
	background-color: #FF675D;
	border-radius: 5px;
}

#housing.active, #housing.active > a {
    background-color: #FF675D !important;
}

#housing a{
    color: black;
}


#environmental {
	background-color: #56CEE6;
	border-radius: 5px;
}

#environmental.active, #environmental.active > a {
    background-color: #56CEE6 !important;
}

#environmental a{
    color: black;
}


#public-safety{
	background-color: #EEE938;
	border-radius: 5px;
}

#public-safety.active, #public-safety.active > a {
    background-color: #EEE938 !important;
}

#public-safety a{
    color: black;
}


#education {
	background-color: #FF9F36;
	border-radius: 5px;
}

#education.active, #education.active > a {
    background-color: #FF9F36 !important;
}

#education a{
    color: black;
}


#arts-and-culture {
	background-color: #FFC355;
	border-radius: 5px;
}


#arts-and.active, #arts-and.active > a {
    background-color: #FFC355 !important;
}


#arts-and-culture a{
    color: black;
}


#other {
    background-color: #BF77CE;
    border-radius: 5px;
}


#other.active, #other.active > a {
    background-color: #BF77CE !important;
}

#other a{
    color: black;
}


.nav-pills > li > a {
    color: #eee;
}

.nav-pills > li > a:hover {
    color: #337ab7;
}


.panel-title-capacity-building {
    background-color: #BBDC0A !important;
    color: black !important;
}

.panel-title-housing {
    background-color: #FF675D !important;
    color: black !important;
}

.panel-title-environmental {
    background-color: #56CEE6  !important;
    color: black !important;
}

.panel-title-public-safety{
    background-color: #EEE938 !important;
    color: black !important;
}

.panel-title-education {
    background-color: #FF9F36 !important;
    color: black !important;
}

.panel-title-other {
    background-color: #BF77CE !important;
    color: black !important;
}

/* ========================================= */
/* Make more readable on overhead            */
/* ========================================= */

/* NavBar - Logo */


#header-community {
    font-size: 42px;
    font-weight: bolder;
    color: black;

}
#header-kc {
    font-size: 42px;
    font-weight: normal;
    color: black;
}



.tag_line {
    font-weight: bold;
    color: black;
}

/* NabBar - tag line */
.navbar-nav > li > a {
    font-size: 26px;
}

/* Filter buttons */

.nav-pills > li > a {
    font-size: 24px;
    font-weight: bold;
}

/* Accordian parts */

.panel-title > a {
    font-size: 20px;
}


.our-menu {
    margin-bottom: 26px;
}

.panel-body > p {
    font-size: 18px;
}

.social {
    box-sizing: border-box;
    color: #777;
    font-size: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    line-height: 20px;
    margin-right: 20px;
}

.navbar-nav > li > a.organization_email {
    box-sizing: border-box;
    color: #777;
    font-size: 20px;
    line-height: 10px;
    margin-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}


