.container {
	float: left;
	display: inline;
}


#all {
	background-color: darkgray;
	border-radius: 5px;
}

#capacity-building {
    background-color: #5CE628;
    border-radius: 5px;
}
#capacity-building.active, #capacity-building.active > a {
    background-color: #5CE628 !important;
}

#capacity-building a{
    color: black;
}


#housing {
	background-color: #FF675D;
	border-radius: 5px;
}

#housing.active, #housing.active > a {
    background-color: #FF675D !important;
}

#housing a{
    color: black;
}


#environmental {
	background-color: #56CEE6;
	border-radius: 5px;
}

#environmental.active, #environmental.active > a {
    background-color: #56CEE6 !important;
}

#environmental a{
    color: black;
}


#public-safety{
	background-color: #EEE938;
	border-radius: 5px;
}

#public-safety.active, #public-safety.active > a {
    background-color: #EEE938 !important;
}

#public-safety a{
    color: black;
}


#education {
	background-color: #FF9F36;
	border-radius: 5px;
}

#education.active, #education.active > a {
    background-color: #FF9F36 !important;
}

#education a{
    color: black;
}


#arts-and-culture {
	background-color: #FFC355;
	border-radius: 5px;
}


#arts-and.active, #arts-and.active > a {
    background-color: #FFC355 !important;
}


#arts-and-culture a{
    color: black;
}


#other {
    background-color: #BF77CE;
    border-radius: 5px;
}


#other.active, #other.active > a {
    background-color: #BF77CE !important;
}

#other a{
    color: black;
}

#resource {
    background-color: #FF99FF;
    border-radius: 5px;
    color: black;
}


#resource.active, #resource.active > a {
    background-color: #FF99FF !important;
}

#resource a{
    color: black;
}


.nav-pills > li > a {
    color: #eee;
}


.nav-pills > li > a:hover {
    color: #337ab7;
}

.panel-heading {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: white !important;
}

h4.panel-title {
    clear: none;
}
.panel-title {
    padding-top: 10px;
    padding-bottom: 10px;
}
.panel-stripe {
    padding: 0px;
    margin: 0px;
    width: 1em;


}
.panel-title-capacity-building {
    background-color: #98EA78 !important;
    color: black !important;
    border: solid;
    border-width: 1px;
    padding: 0px;
    margin: 0px;

}

.panel-title-housing {
    background-color: #FD9B95 !important;
    color: black !important;
    border: solid;
    border-width: 1px;
    padding: 0px;
    margin: 0px;
}

.panel-title-environmental {
    background-color: #9DD7E3  !important;
    color: black !important;
    border: solid;
    border-width: 1px;
    padding: 0px;
    margin: 0px;
}

.panel-title-public-safety{
    background-color: #F7F597 !important;
    color: black !important;
    border: solid;
    border-width: 1px;
    padding: 0px;
    margin: 0px;
}

.panel-title-education {
    background-color: #FDB055 !important;
    color: black !important;
    border: solid;
    border-width: 1px;
    padding: 0px;
    margin: 0px;
}

.panel-title-resource {
    background-color: #FF99FF !important;
    color: black !important;
    border: solid;
    border-width: 1px;
    padding: 0px;
    margin: 0px;
}

.panel-title-other {
    background-color: #BF77CE !important;
    color: black !important;
    border: solid;
    border-width: 1px;
    padding: 0px;
    margin: 0px;
}

/* ========================================= */
/* Make more readable on overhead            */
/* ========================================= */

/* NavBar - Logo */


#header-community {
    font-size: 42px;
    font-weight: bolder;
    color: black;

}
#header-kc {
    font-size: 42px;
    font-weight: normal;
    color: black;
}



.tag_line {
    font-weight: bold;
    color: black;
}

/* NabBar - tag line */
.navbar-nav > li > a {
    font-size: 26px;
}

/* Filter buttons */

.nav-pills > li > a {
    font-size: 18px;
}

/* Accordian parts */

.panel-title > a {
    font-size: 14px; 
}


.our-menu {
    margin-bottom: 26px;
}

.panel-body > p {
    font-size: 18px;
}

.social {
    box-sizing: border-box;
    color: #777;
    font-size: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    line-height: 20px;
    margin-right: 20px;
}

.navbar-nav > li > a.organization_email {
    box-sizing: border-box;
    color: #777;
    font-size: 20px;
    line-height: 10px;
    margin-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}

#accordion {

    overflow: scroll;
}

#the-map {
    float: right !important;
}

#the-accordion {
    float: left !important;
}


