.container {
	float: left;
	display: inline;
}


#all {
	background-color: #e5e5e5;
	border-radius: 5px;
}

#capacity-building {
	background-color: #6F4682;
	border-radius: 5px;
}

#housing {
	background-color: #CA7FEC;
	border-radius: 5px;
}

#environmental {
	background-color: #4951FF;
	border-radius: 5px;
}

#public-safety{
	background-color: #37BCE8;
	border-radius: 5px;
}

#education {
	background-color: #EC9A7A;
	border-radius: 5px;
}

#arts-and-culture {
	background-color: #FFC355;
	border-radius: 5px;
}

#other {
	background-color: #4E9F79;
	border-radius: 5px;
}

.nav-pills > li > a {
    color: #eee;
}

.nav-pills > li > a:hover {
    color: #337ab7;
}


.panel-title-capacity-building {
    background-color: #6F4682 !important;
    color: white !important;
}

.panel-title-housing {
    background-color: #CA7FEC !important;
    color: white !important;
}

.panel-title-environmental {
    background-color: #4951FF  !important;
    color: white !important;
}

.panel-title-public-safety{
    background-color: #37BCE8 !important;
    color: white !important;
}

.panel-title-education {
    background-color: #EC9A7A !important;
    color: white !important;
}

.panel-title-arts-and-culture {
    background-color: #FFC355 !important;
    color: white !important;
}

.panel-title-other {
    background-color: #4E9F79 !important;
    color: white !important;
}

/* ========================================= */
/* Make more readable on overhead            */
/* ========================================= */

/* NavBar - Logo */

.navbar-default .navbar-brand {
    font-size: 42px;
}

/* NabBar - tag line */
.navbar-nav > li > a {
    font-size: 26px;
}

/* Filter buttons */

.nav-pills > li > a {
    font-size: 24px;
    font-weight: bold;
}

/* Accordian parts */

.panel-title > a {
    font-size: 20px;
}


.our-menu {
    margin-bottom: 26px;
}

.panel-body > p {
    font-size: 18px;
}

.social {
    box-sizing: border-box;
    color: #777;
    font-size: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    line-height: 20px;
    margin-right: 20px;
}

.navbar-nav > li > a.organization_email {
    box-sizing: border-box;
    color: #777;
    font-size: 20px;
    line-height: 10px;
    margin-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}


