#all {
	background-color: #e7e7e7;
	border-radius: 3px;
}

#capactity-building {
	background-color: #71af26;
	border-radius: 3px;
}

#housing {
	background-color: #38a9dc;
	border-radius: 3px;
}

#environmental {
	background-color: #d152b8;
	border-radius: 3px;
}

#public-safety{
	background-color: #5a386a;
	border-radius: 3px;
}

#education {

}

#arts-and-culture {

}

#other {

}

